{% extends "base.html" %}
{% block content %}

  <h2>Skincare Made Easy!</h2>
  <p>Explore different skin types, understand the essentials of a simple skincare routine, and test your knowledge</p>
  <p>Click the button below to get started</p>
  
  <!-- <button class="cta-button" onclick="location.href='skintype'">Get Started</button> -->
    
  <div class="info-grid">
    <a href="skintype" class="info-card-link">
      <div class="info-card">
        <h3>Start Learning About Skin Types</h3>
      </div>
    </a>
  
    <a href="foundation" class="info-card-link">
      <div class="info-card">
        <h3>Learn About A Skincare Routine</h3>
      </div>
    </a>
  <!--
    <a href="quiz1" class="info-card-link">
      <div class="info-card">
        <h3>Test your knowledge</h3>
      </div> 
    </a>
    -->
  </div>  
{% endblock %}


