{% extends "base.html" %}
{% block content %}

  <h2>Skincare Made Easy!</h2>
  <p>Explore different skin types, understand the essentials of a simple skincare routine, and test your knowledge</p>
  <p>Whether you're a beginner or looking to refresh your knowledge, this is the place for you!</p>

  <br>
  <!-- <button class="cta-button" onclick="location.href='skintype'">Get Started</button> -->
  <div class="cta-container">
    <p><em>Click the button below to get started</em></p>
    <div class="info-grid">
      <a href="skintype" class="info-card-link">
        <div class="info-card">
          <h3>Start Learning About Skin Types</h3>
        </div>
      </a>
    
      <a href="foundation" class="info-card-link">
        <div class="info-card">
          <h3>Learn About A Skincare Routine</h3>
        </div>
      </a>
    </div>
  <!--
    <a href="quiz1" class="info-card-link">
      <div class="info-card">
        <h3>Test your knowledge</h3>
      </div> 
    </a>
    -->
  </div>  
{% endblock %}


