{% extends "base.html" %}
{% block content %}
  <h2>Learn. Match. Build.</h2>
  <p>Explore different skin types, understand the essentials, and test your knowledge</p>
  <button class="cta-button" onclick="location.href='skintype.html'">Get Started</button>

  <div class="info-grid">
    <a href="skintype" class="info-card-link">
      <div class="info-card">
        <h3>Skin Types</h3>
      </div>
    </a>
  
    <a href="foundation" class="info-card-link">
      <div class="info-card">
        <h3>Foundations of skincare</h3>
      </div>
    </a>
  
    <a href="quiz1" class="info-card-link">
      <div class="info-card">
        <h3>Test your knowledge</h3>
      </div>
    </a>
  </div>  
{% endblock %}


